body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("./Pics/pexels-photo-676578.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
 
  
  .text-white {
    color: #fff; /* Text color */
  }
  
  .text-center {
    text-align: center !important; /* Center-align text */
  }
  
  .container {
    max-width: 1100px; /* Adjust container max-width */
    margin: auto; /* Center align container */
  }
  
  /* Navbar Styles */
  
  .about h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }
  
  .about p {
    font-size: 1.1rem;
  }
  
 /* Keyframes for fade-in animation */
@keyframes fade-in {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Keyframes for slide-in animation */
@keyframes slide-in {
    0% { opacity: 0; transform: translateX(-50px); }
    100% { opacity: 1; transform: translateX(0); }
}

/* Applying animations to elements */
.fade-in {
    animation: fade-in 2s ease-out;
}

.slide-in {
    animation: slide-in 2s ease-out;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .heading-text {
        font-size: 4.5rem;
    }
}
nav {
  box-shadow: 8 2px 4px rgba(3, 3, 3, 0.1);
}

.navbar-brand {
 
  font-size: 1.5rem;
  font-weight: bold;
}

